[package]
name = "python-zstandard"
version = "0.18.0"
authors = ["Gregory Szorc <gregory.szorc@gmail.com>"]
edition = "2021"
license = "BSD-3-Clause"
description = "Python bindings to zstandard compression library"
readme = "README.rst"

[lib]
name = "backend_rust"
crate-type = ["cdylib"]
path = "rust-ext/src/lib.rs"

[dependencies]
libc = "0.2"
num_cpus = "1"
rayon = "1.5"

[dependencies.zstd-safe]
version = "5.0.2+zstd.1.5.2"
features = ["experimental", "legacy", "zstdmt"]

[dependencies.zstd-sys]
version = "2.0.1+zstd.1.5.2"
features = ["experimental", "legacy", "zstdmt"]

[dependencies.pyo3]
version = "0.15"
features = ["extension-module"]
