[build-system]
requires = [
    "cffi==1.16.0",
    "setuptools==68.2.2",
    "wheel==0.41.2",
]
# Need to use legacy backend because setup_zstd.py breaks build isolation.
build-backend = "setuptools.build_meta:__legacy__"

[tool.black]
line-length = 80
