on:
  push:
  pull_request:
  schedule:
    - cron: '30 13 * * *'
jobs:
  wheel:
    strategy:
      fail-fast: false
      matrix:
        os:
          - 'ubuntu-22.04'
          - 'macos-13'
          - 'windows-2022'
        py:
          - 'pypy-3.10'
          - 'pypy-3.11'
        arch:
          - 'x86'
          - 'x64'
        exclude:
          - os: 'ubuntu-22.04'
            arch: 'x86'
          - os: 'macos-13'
            arch: 'x86'
          - os: 'windows-2022'
            py: 'pypy-3.11'
            arch: 'x86'
    runs-on: ${{ matrix.os }}
    env:
      # Make all compile warnings fatal.
      ZSTD_WARNINGS_AS_ERRORS: '1'
      # Activate Python development mode so we get warnings.
      PYTHONDEVMODE: '1'
    steps:
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.py }}
          architecture: ${{ matrix.arch }}

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Build
        run: |
          python -m pip -v wheel --constraint ci/constraints.txt -w wheelhouse .

  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - 'ubuntu-22.04'
          - 'macos-13'
          - 'windows-2022'
        py:
          - 'pypy-3.10'
          - 'pypy-3.11'
        arch:
          - 'x86'
          - 'x64'
        exclude:
          - os: 'ubuntu-22.04'
            arch: 'x86'
          - os: 'macos-13'
            arch: 'x86'
          - os: 'windows-2022'
            py: 'pypy-3.11'
            arch: 'x86'
    runs-on: ${{ matrix.os }}
    env:
      # Enable fuzzing tests, other expensive tests.
      ZSTD_SLOW_TESTS: '1'
      # Make all compile warnings fatal.
      ZSTD_WARNINGS_AS_ERRORS: '1'
      # More thorough fuzzing coverage.
      HYPOTHESIS_PROFILE: 'ci'
      # Activate Python development mode so we get warnings.
      PYTHONDEVMODE: '1'
    steps:
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.py }}
          architecture: ${{ matrix.arch }}

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Dependencies
        run: |
          pip install --require-hashes -r ci/requirements.pypy.txt

      - name: Build
        run: |
          python -m pip -v install --constraint ci/constraints.txt -e .

      - name: Test
        run: |
          pytest --numprocesses=auto --hypothesis-profile=${HYPOTHESIS_PROFILE} -v tests/
